<h1>List of Restaurants</h1>
<Table border='1'>
   <thead>
    <tr>
        {{#each data.[0]}}
        <th>{{@key}}</th>
        {{/each}}
    </tr>
     {{#each data}}
    <tr>
        {{#each this}}
        <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
  </thead>  
</Table>