<form method="POST" action="/api/search">
	<label for='page'>Page:</label><br />
	<input type='text' id='page' name='page' value='' /><br />
	<label for='perPage'>Per Page:</label><br />
	<input type='text' id='perPage' name='perPage' value='' /><br />
	<label for='borough'>Borough:</label><br />
	<input type='text' id='borough' name='borough' value='' /><br /><br />
	<input type='submit' value='Submit' />
</form>